In [30]:
# Initial imports
import pandas as pd
from path import Path

In [31]:
file = Path('../Resources/conposcovidloc.csv')
file2 = Path('../Resources/vaccines_by_age_phu.csv')

In [32]:
covid_df = pd.read_csv(file, index_col=0)
vaccine_df = pd.read_csv(file2)
covid_df

,Accurate_Episode_Date,Case_Reported_Date,Test_Reported_Date,Specimen_Date,Age_Group,Client_Gender,Case_AcquisitionInfo,Outcome1,Outbreak_Related,Reporting_PHU_ID,Reporting_PHU,Reporting_PHU_Address,Reporting_PHU_City,Reporting_PHU_Postal_Code,Reporting_PHU_Website,Reporting_PHU_Latitude,Reporting_PHU_Longitude
Row_ID,,,,,,,,,,,,,,,,,
1,2019-05-30,2020-05-05,2020-05-05,2020-05-03,50s,FEMALE,CC,Resolved,NaN,2260,Simcoe Muskoka District Health Unit,15 Sperling Drive,Barrie,L4M 6K9,www.simcoemuskokahealth.org,44.410713,-79.686306
2,2019-11-20,2020-10-21,2020-11-21,2019-11-20,20s,FEMALE,NO KNOWN EPI LINK,Resolved,NaN,4913,Southwestern Public Health,1230 Talbot Street,St. Thomas,N5P 1G9,www.swpublichealth.ca,42.777804,-81.151156
3,2020-01-01,2020-04-24,2020-04-24,2020-04-23,80s,MALE,NO KNOWN EPI LINK,Resolved,NaN,2234,Haldimand-Norfolk Health Unit,12 Gilbertson Drive,Simcoe,N3Y 4N5,www.hnhu.org,42.847825,-80.303815
4,2020-01-01,2020-05-17,2020-05-17,2020-05-15,50s,MALE,CC,Resolved,NaN,2265,"Region of Waterloo, Public Health",99 Regina Street South,Waterloo,N2J 4V3,www.regionofwaterloo.ca,43.462876,-80.520913
5,2020-01-01,2021-05-26,2021-03-31,2021-03-28,UNKNOWN,MALE,TRAVEL,Resolved,NaN,2263,Timiskaming Health Unit,"247 Whitewood Avenue, Unit 43",New Liskeard,P0J 1P0,www.timiskaminghu.com,47.509284,-79.681632
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
604148,2021-11-07,2021-11-08,2021-11-08,2021-11-07,<20,MALE,NO KNOWN EPI LINK,Not Resolved,NaN,2226,Algoma Public Health Unit,294 Willow Avenue,Sault Ste. Marie,P6B 0A9,www.algomapublichealth.com,46.532373,-84.314836
604149,2021-11-07,2021-11-08,2021-11-08,2021-11-07,<20,MALE,OB,Not Resolved,Yes,2226,Algoma Public Health Unit,294 Willow Avenue,Sault Ste. Marie,P6B 0A9,www.algomapublichealth.com,46.532373,-84.314836
604150,2021-11-08,2021-11-08,NaN,2021-11-08,70s,MALE,MISSING INFORMATION,Not Resolved,NaN,2260,Simcoe Muskoka District Health Unit,15 Sperling Drive,Barrie,L4M 6K9,www.simcoemuskokahealth.org,44.410713,-79.686306
604151,2021-11-08,2021-11-08,NaN,2021-11-08,<20,MALE,MISSING INFORMATION,Not Resolved,NaN,2260,Simcoe Muskoka District Health Unit,15 Sperling Drive,Barrie,L4M 6K9,www.simcoemuskokahealth.org,44.410713,-79.686306
604152,2021-11-08,2021-11-08,2021-11-08,2021-11-08,50s,MALE,MISSING INFORMATION,Not Resolved,NaN,2260,Simcoe Muskoka District Health Unit,15 Sperling Drive,Barrie,L4M 6K9,www.simcoemuskokahealth.org,44.410713,-79.686306

In [33]:
covid_df2 = covid_df
covid_df2 = covid_df2[['Accurate_Episode_Date', 'Reporting_PHU_ID', 'Reporting_PHU_Latitude', 'Reporting_PHU_Longitude']]
covid_df2

,Accurate_Episode_Date,Reporting_PHU_ID,Reporting_PHU_Latitude,Reporting_PHU_Longitude
Row_ID,,,,
1,2019-05-30,2260,44.410713,-79.686306
2,2019-11-20,4913,42.777804,-81.151156
3,2020-01-01,2234,42.847825,-80.303815
4,2020-01-01,2265,43.462876,-80.520913
5,2020-01-01,2263,47.509284,-79.681632
...,...,...,...,...
604148,2021-11-07,2226,46.532373,-84.314836
604149,2021-11-07,2226,46.532373,-84.314836
604150,2021-11-08,2260,44.410713,-79.686306
604151,2021-11-08,2260,44.410713,-79.686306
604152,2021-11-08,2260,44.410713,-79.686306

In [34]:
covid_df2['Year'] =  pd.to_datetime(covid_df2.Accurate_Episode_Date).dt.strftime('%Y')
covid_df2['Month'] = pd.to_datetime(covid_df2.Accurate_Episode_Date).dt.strftime('%m')
covid_df2['Day'] = pd.to_datetime(covid_df2.Accurate_Episode_Date).dt.strftime('%d')
print(covid_df2.shape)
covid_df2.head()

C:\Users\User\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\Users\User\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

(604152, 7)

C:\Users\User\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

,Accurate_Episode_Date,Reporting_PHU_ID,Reporting_PHU_Latitude,Reporting_PHU_Longitude,Year,Month,Day
Row_ID,,,,,,,
1,2019-05-30,2260,44.410713,-79.686306,2019,05,30
2,2019-11-20,4913,42.777804,-81.151156,2019,11,20
3,2020-01-01,2234,42.847825,-80.303815,2020,01,01
4,2020-01-01,2265,43.462876,-80.520913,2020,01,01
5,2020-01-01,2263,47.509284,-79.681632,2020,01,01

In [74]:
y_df = covid_df2.groupby(['Year', 'Month', 'Reporting_PHU_ID']).count()['Day'].reset_index()
y_df = pd.DataFrame(y_df)
y_df.rename(columns={'Day': 'Number_of_Case'}, inplace=True)
y_df

     Year Month  Reporting_PHU_ID  Number_of_Case
0    2019    05              2260               1
1    2019    11              4913               1
2    2020    01              2234               2
3    2020    01              2244               1
4    2020    01              2251               1
..    ...   ...               ...             ...
727  2021    11              2268             105
728  2021    11              2270             154
729  2021    11              3895             287
730  2021    11              4913              74
731  2021    11              5183              27

[732 rows x 4 columns]

In [75]:
y_df.dtypes

Year                object
Month               object
Reporting_PHU_ID     int64
Number_of_Case       int64
dtype: object

In [56]:
covid_df2.groupby(['Year', 'Month']).count()['Reporting_PHU_ID'].to_frame()

            Reporting_PHU_ID
Year Month
2019 05                    1
     11                    1
2020 01                   15
     02                   49
     03                 5970
     04                14233
     05                10150
     06                 5479
     07                 3877
     08                 3341
     09                13503
     10                24338
     11                47156
     12                75435
2021 01                71842
     02                31584
     03                59110
     04               115828
     05                53849
     06                10632
     07                 5407
     08                18060
     09                19755
     10                12376
     11                 2161

In [ ]:
vaccine_df.head()

In [ ]:
vaccine_df['Year'] =  pd.to_datetime(vaccine_df.Date).dt.strftime('%Y')
vaccine_df['Month'] = pd.to_datetime(vaccine_df.Date).dt.strftime('%m')
vaccine_df['Day'] = pd.to_datetime(vaccine_df.Date).dt.strftime('%d')
vaccine_df.head()