In [34]:
import pandas as pd
from sqlalchemy import create_engine
import psycopg2
from config import db_password

In [35]:
# Create connection to database
db_string = f"postgresql://postgres:{db_password}@127.0.0.1:5432/covid_db"
engine = create_engine(db_string)

In [36]:
# Get the Dataset into dataframes
confirmedcases_df = pd.read_csv('./resources/conposcovidloc.csv')
outbreaks_df =  pd.read_csv('./resources/ongoing_outbreaks.csv')
vaccinedata_df =  pd.read_csv('./resources/vaccines_by_age_phu.csv')

In [37]:
#create phu_df out of the confirmedcases_df 
phu_df = pd.DataFrame(
    confirmedcases_df.groupby( 
                            ['Reporting_PHU_ID', 
                            'Reporting_PHU',           
                            'Reporting_PHU_Address',  
                            'Reporting_PHU_City',
                            'Reporting_PHU_Postal_Code',
                            'Reporting_PHU_Website',
                            'Reporting_PHU_Latitude',
                            'Reporting_PHU_Longitude']
).Row_ID.count()).reset_index()
phu_df = phu_df.drop(columns=['Row_ID'])
phu_df.head(5)

,Reporting_PHU_ID,Reporting_PHU,Reporting_PHU_Address,Reporting_PHU_City,Reporting_PHU_Postal_Code,Reporting_PHU_Website,Reporting_PHU_Latitude,Reporting_PHU_Longitude
0,2226,Algoma Public Health Unit,294 Willow Avenue,Sault Ste. Marie,P6B 0A9,www.algomapublichealth.com,46.532373,-84.314836
1,2227,Brant County Health Unit,194 Terrace Hill Street,Brantford,N3R 1G7,www.bchu.org/,43.151811,-80.274374
2,2230,Durham Region Health Department,605 Rossland Road East,Whitby,L1N 0B2,www.durham.ca/en/health-and-wellness/health-an...,43.898605,-78.940341
3,2233,Grey Bruce Health Unit,101 17th Street East,Owen Sound,N4K 0A5,www.publichealthgreybruce.on.ca/,44.576196,-80.940980
4,2234,Haldimand-Norfolk Health Unit,12 Gilbertson Drive,Simcoe,N3Y 4N5,www.hnhu.org,42.847825,-80.303815

In [38]:
# drop not needed columns from confirmedcases_df
confirmedcases_df = confirmedcases_df.drop(columns=['Reporting_PHU',           
                            'Reporting_PHU_Address',  
                            'Reporting_PHU_City',
                            'Reporting_PHU_Postal_Code',
                            'Reporting_PHU_Website',
                            'Reporting_PHU_Latitude',
                            'Reporting_PHU_Longitude'])
confirmedcases_df.head(5)

,Row_ID,Accurate_Episode_Date,Case_Reported_Date,Test_Reported_Date,Specimen_Date,Age_Group,Client_Gender,Case_AcquisitionInfo,Outcome1,Outbreak_Related,Reporting_PHU_ID
0,1,2019-05-30,2020-05-05,2020-05-05,2020-05-03,50s,FEMALE,CC,Resolved,NaN,2260
1,2,2019-11-20,2020-10-21,2020-11-21,2019-11-20,20s,FEMALE,NO KNOWN EPI LINK,Resolved,NaN,4913
2,3,2020-01-01,2020-04-24,2020-04-24,2020-04-23,80s,MALE,NO KNOWN EPI LINK,Resolved,NaN,2234
3,4,2020-01-01,2020-05-17,2020-05-17,2020-05-15,50s,MALE,CC,Resolved,NaN,2265
4,5,2020-01-01,2021-05-26,2021-03-31,2021-03-28,UNKNOWN,MALE,TRAVEL,Resolved,NaN,2263

In [39]:
#Verify if there is PHU id in the vaccinedata that is not in the PHU dataframe
merged1 = vaccinedata_df.merge(phu_df, left_on='PHU ID', right_on='Reporting_PHU_ID', how='outer')
print(vaccinedata_df['Total population'].isnull().sum())
print(phu_df['Reporting_PHU'].isnull().sum())
print(merged1['Total population'].isnull().sum())
print(merged1['Reporting_PHU'].isnull().sum())
merged1[merged1['Reporting_PHU'].isnull()]

0
0
0
1133

,Date,PHU ID,PHU name,Agegroup,At least one dose_cumulative,Second_dose_cumulative,Total population,Percent_at_least_one_dose,Percent_fully_vaccinated,Reporting_PHU_ID,Reporting_PHU,Reporting_PHU_Address,Reporting_PHU_City,Reporting_PHU_Postal_Code,Reporting_PHU_Website,Reporting_PHU_Latitude,Reporting_PHU_Longitude
33979,2021-07-26,9999,UNKNOWN,12-17yrs,207,20.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33980,2021-07-26,9999,UNKNOWN,18-29yrs,1313,135.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33981,2021-07-26,9999,UNKNOWN,30-39yrs,932,138.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33982,2021-07-26,9999,UNKNOWN,40-49yrs,507,97.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33983,2021-07-26,9999,UNKNOWN,50-59yrs,495,113.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35107,2021-11-05,9999,UNKNOWN,70-79yrs,393,267.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35108,2021-11-05,9999,UNKNOWN,80+,89,65.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35109,2021-11-05,9999,UNKNOWN,Adults_18plus,15752,9252.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35110,2021-11-05,9999,UNKNOWN,Ontario_12plus,16506,9598.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35111,2021-11-05,9999,UNKNOWN,Undisclosed_or_missing,54,34.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [40]:
#get the new PHU ids from the vaccinadata 
phu_from_vaccinedata = pd.DataFrame(merged1[merged1['Reporting_PHU'].isnull()].groupby(['PHU ID','PHU name']).Date.count()).reset_index()
phu_from_vaccinedata = phu_from_vaccinedata.drop(columns=['Date'])
phu_from_vaccinedata

   PHU ID PHU name
0    9999  UNKNOWN

In [41]:
# drop not needed columns from vaccinedata
vaccinedata_df = vaccinedata_df.drop(columns=['PHU name'])
vaccinedata_df.head()

,Date,PHU ID,Agegroup,At least one dose_cumulative,Second_dose_cumulative,Total population,Percent_at_least_one_dose,Percent_fully_vaccinated
0,2021-07-26,2226,12-17yrs,3843,1890.0,6504,0.5909,0.2906
1,2021-07-26,2227,12-17yrs,6306,3567.0,10734,0.5875,0.3323
2,2021-07-26,2240,12-17yrs,3229,1923.0,7233,0.4464,0.2659
3,2021-07-26,2237,12-17yrs,21710,14055.0,37018,0.5865,0.3797
4,2021-07-26,2251,12-17yrs,50734,31410.0,66222,0.7661,0.4743

In [42]:
# Add confirmedcases_df to Database
confirmedcases_df.to_sql(name='confirmedcases', con=engine, if_exists='replace')

# Add vaccinedata_df to Database
vaccinedata_df.to_sql(name='vaccinedata', con=engine, if_exists='replace')

# Add outbreaks_df to Database
outbreaks_df.to_sql(name='outbreaks', con=engine, if_exists='replace')

# Add PHU_df to the Database
phu_df.to_sql(name='phu', con=engine, if_exists='replace')